#gameContainer{
    text-align: center;
}

#gameBoard{
    border:3px solid black
}

#score{
    font-family:"Permanent Marker",cursive;
    font-size: 100px;
}

#resetBtn, #left ,#right, #up, #down{
    font-family:"Permanent Marker",cursive;
    font-size: 22px;
    width: 100px;
    height:50px ;
    border: 4px solid;
    border-radius:15px ;
    cursor: pointer;
}